<form class="row g-2" #clientForm='ngForm' (ngSubmit)="onSubmit()" ngNativeValidate>
  <label class="label-title"><span>Datos de básicos</span></label>
  <div class="col-12 col-md-6">
    <label for="ruc" class="form-label">CI/Ruc: * </label>
    <input type="text"
           [(ngModel)]="formData.doc"
           name="doc"
           class="form-control" id="ruc" required>
  </div>
  <div class="col-12 col-md-6">
    <label for="doc_type" class="form-label">Tipo Doc.: *</label>
    <select [(ngModel)]="formData.doc_type"
      name="doc_type" id="doc_type" class="form-select" required>
      <option value="CI" selected>Cedula</option>
      <option value="RUC">Ruc</option>
      <option value="PASAPORTE" >Pasaporte</option>
      <option value="OTRO" >Otro</option>
    </select>
  </div>

  <div class="col-12 col-md-6">
    <label for="name" class="form-label">Nombre: *</label>
    <input type="text" id="name"
           [(ngModel)]="formData.name"
           name="name" class="form-control" required>
  </div>
  <div class="col-12 col-md-6">
    <label for="business_name" class="form-label">Nombre Comercial: *</label>
    <input type="text" id="business_name"
           [(ngModel)]="formData.business_name"
           name="business_name" class="form-control" required>
  </div>

  <div class="col-12 col-md-6">
    <label for="address" class="form-label">Dirección: *</label>
    <input type="text" id="address"
           [(ngModel)]="formData.address"
           name="address" class="form-control" required>
  </div>

  <div class="col-12 col-md-6">
    <label for="city" class="form-label">Ciudad</label>
    <input type="text" id="city"
           [(ngModel)]="formData.city"
           name="city" class="form-control">
  </div>

  <label class="label-title"><span>Datos de contacto</span></label>
  <div class="col-12">
    <div class="row g-2">
      <div class="div col-6 col-md-4">
        <label for="phone" class="form-label">Celular/Teléfono</label>
        <input type="tel" id="phone"
               [(ngModel)]="formData.phone"
               name="phone" class="form-control">
      </div>
      <div class="div col-6 col-md-4">
        <label for="email" class="form-label">Email</label>
        <input type="email" id="email"
               [(ngModel)]="formData.email"
               name="email" class="form-control">
      </div>

      <div class="div col-6 col-md-4">
        <label for="date" class="form-label">F. Nacimiento</label>
        <input type="date" id="date"
               [(ngModel)]="formData.birthday"
               name="birthday" class="form-control">
      </div>
    </div>
  </div>

  <div class="col-12 text-end mt-4">
    <button class="btn btn-outline-danger me-2" data-bs-dismiss="modal">Cancelar</button>
    <bs-button [loader]="loader"><i class="fa fa-save me-1"></i> Guardar Cliente</bs-button>
  </div>
</form>
