<form class="row g-2" #clientForm='ngForm' (ngSubmit)="onSubmit()" ngNativeValidate>
    <label class="label-title"><span>Datos del producto</span></label>
    <div class="col-12 col-md-6">
        <label for="product_cod" class="form-label">Codigo / Codigo Barra: *</label>
        <input type="text" [(ngModel)]="formData.code" name="product_cod" class="form-control" id="product_cod" required>
    </div>
    <div class="col-12 col-md-4">
        <label for="product_category" class="form-label">Categoría: *</label>
        <div class="d-flex">
          <select *ngIf="category == null" [(ngModel)]="formData.category_id" name="product_category" id="product_category" class="form-control">
            <option  *ngFor="let c of categories" value="{{c.id}}">{{ c.name }}</option>
          </select>

          <select *ngIf="category != null" [(ngModel)]="formData.category_id" name="product_category" id="product_category" class="form-control">
            <option value="{{category.id}}" selected >{{ category.name }}</option>
          </select>
          <app-add-category></app-add-category>
          <app-dialog-search-category (select)="onSelect($event)"></app-dialog-search-category>
        </div>

    </div>
    <div class="div col-12 col-md-2">


        <!-- <button class="btn btn-sm btn btn-secondary" type="button"><i class="fa fa-plus"></i></button>
        <button class="btn btn-sm btn btn-secondary" type="button"><i class="fa fa-search"></i></button> -->
    </div>

    <div class="col-12 col-md-6">
        <label for="product_name" class="form-label">Nombre: *</label>
        <input type="text" id="product_name" [(ngModel)]="formData.name" name="product_name" class="form-control" required>
    </div>
    <div class="col-12 col-md-6">
        <label for="product_description" class="form-label">Descripción:</label>
        <input type="text" id="product_description" [(ngModel)]="formData.description" name="product_description" class="form-control">
    </div>

    <div class="col-12 col-md-6">
        <label for="product__class" class="form-label">Clase: *</label>
        <select [(ngModel)]="formData.type" name="product__class" id="product__class" class="form-select" required>

        <option value="PRODUCTO" selected>Producto</option>
    <option value="SERVICIO">Servicio</option>
    <option value="OTRO" >Otro</option>
  </select>
    </div>


    <div class="col-12 col-md-6">
        <label for="product__iva" class="form-label">IVA: *</label>
        <select [(ngModel)]="formData.iva" name="product__iva" id="product__iva" class="form-select" required (change)="onChangeIVA($event.target.value)">
          <option value="0" selected>0%</option>
          <option value="1">12%</option>
        </select>
    </div>

    <label class="label-title"><span>Precios</span></label>
    <div class="col-12">
        <div class="row g-2">
            <div class="div col-3 col-md-3">
                <label for="product_price" class="form-label" required>P. Costo</label>
                <input type="number" min="0" id="product_price" [(ngModel)]="formData.price_purchase" name="product_price" class="form-control" (input)="onInputPrice($event.target.value)" step="any">
            </div>
            <div class="div col-3 col-md-3">
                <label for="product_pricePlusIva" class="form-label">P. Costo + IVA</label>
                <input type="number" id="product_pricePlusIva" name="product_pricePlusIva" class="form-control" disabled [value]="priceValuePlusIva">
            </div>

            <div class="div col-3 col-md-3">
                <label for="product_utility" class="form-label">% Utilidad</label>
                <input type="number" min="0" id="product_utility" name="product_utility" class="form-control" (input)="onInputUtility($event.target.value)">
            </div>

            <div class="div col-3 col-md-3">
                <label for="product_PVPPlusIva" class="form-label">PVP + Iva</label>
                <input type="number" min="0" id="product_PVPPlusIva" name="product_PVPPlusIva" class="form-control" [value]="priceFinalPlusIva" step="any">
            </div>
        </div>
    </div>

    <div class="col-12 text-end mt-4">
        <button class="btn btn-outline-danger me-2" data-bs-dismiss="modal">Cancelar</button>
        <bs-button [loader]="loader"><i class="fa fa-save me-1"></i>Registrar Producto</bs-button>
    </div>
</form>
