<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">SysVentas</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <!--Registro y control-->
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">Registro y Control</a>
                    <ul class="dropdown-menu dropdown-menu-dark drop">
                        <!--Clientes-->
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-submenu-toggle dropdown-toggle-arrow" href="#"><svg class="icon"><use xlink:href="#customer"/></svg>Clientes</a>
                            <ul class="dropdown-menu dropdown-menu-dark dropdown-submenu shadow">
                              <li><a class="dropdown-item" routerLink="/persons">Listar Clientes</a></li>
                              <li><a class="dropdown-item" routerLink="/persons/add">Nuevo Cliente</a></li>
                                <li><a class="dropdown-item" href="#">Eliminar Cliente</a></li>
                            </ul>
                        </li>
                        <!--Proveedores-->
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-submenu-toggle dropdown-toggle-arrow" href="#"><svg class="icon"><use xlink:href="#group"/></svg>Proveedores</a>
                            <ul class="dropdown-menu dropdown-menu-dark dropdown-submenu shadow">
                                <li><a class="dropdown-item" href="#">Nuevo Proveedor</a></li>
                                <li><a class="dropdown-item" href="#">Modificar Proveedor</a></li>
                                <li><a class="dropdown-item" href="#">Eliminar Proveedor</a></li>
                            </ul>
                        </li>
                        <!--Inventario-->
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-submenu-toggle dropdown-toggle-arrow" href="#"><svg class="icon"><use xlink:href="#inventory"/></svg>Inventario</a>
                            <ul class="dropdown-menu dropdown-menu-dark dropdown-submenu shadow">
                                <li><a class="dropdown-item" routerLink="/products/add">Nuevo Producto</a></li>
                                <li><a class="dropdown-item" href="#">Modificar Inventario</a></li>
                                <li><a class="dropdown-item" href="#">Eliminar Inventario</a></li>
                            </ul>
                        </li>
                        <!--Compras-->
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-submenu-toggle dropdown-toggle-arrow" href="#"><svg class="icon"><use xlink:href="#shopping-cart"/></svg>Compras</a>
                            <ul class="dropdown-menu dropdown-menu-dark dropdown-submenu shadow">
                                <li><a class="dropdown-item" href="#">Nueva Compra</a></li>
                                <li><a class="dropdown-item" href="#">Modificar Compra</a></li>
                                <li><a class="dropdown-item" href="#">Eliminar Compra</a></li>
                            </ul>
                        </li>
                        <!--Ventas-->
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-submenu-toggle dropdown-toggle-arrow" href="#"><svg class="icon"><use xlink:href="#bill-2"/></svg>Ventas</a>
                            <ul class="dropdown-menu dropdown-menu-dark dropdown-submenu shadow">
                                <li><a class="dropdown-item" routerLink="/invoice">Nueva Venta</a></li>
                                <li><a class="dropdown-item" href="#">Modificar Venta</a></li>
                                <li><a class="dropdown-item" href="#">Eliminar Venta</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">Configuración</a>
                  <ul class="dropdown-menu dropdown-menu-dark drop">
                    <li class="dropdown-submenu">
                      <a class="dropdown-item" routerLink="/config">Config. General</a>
                    </li>
                  </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
