<form class="row g-2" #enterpriseForm='ngForm' ngNativeValidate>
    <div class="card">
        <div class="card-body">
            <label class="label-title"><span>CFDI-COMPROBANTES ELECTRONICOS</span></label>

            <div class="col-12 col-md-12 row g-2">

                <div class="col-12 col-md-2 mt-2">
                    <label for="" class="form-label">Tipo de Comprobante</label>
                    <select [(ngModel)]="formData" name="" id="" class="form-select" required>
                        <option value="value1" selected>Value 1</option>
                        <option value="value2">Value 2</option>
                        <option value="value3">Value 3</option>
                    </select>
                </div>

                <div class="col-12 col-md-2 mt-2">
                    <label for="" class="form-label">ID Doc.</label>
                    <input type="text" id="" [(ngModel)]="formData" name="" class="form-control">
                </div>

                <div class="col-12 col-md-1 mt-2">
                    <label for="special_contrib" class="form-label">RUC/CI</label>
                    <input type="text" id="special_contrib" [(ngModel)]="formData.special_contrib" name="special_contrib" class="form-control">
                </div>

                <div class="col-12 col-md-2 mt-2">
                    <label for="" class="form-label">Desde:</label>
                    <input type="date" id="" [(ngModel)]="formData" name="" class="form-control">
                </div>

                <div class="col-12 col-md-2 mt-2">
                    <label for="" class="form-label">Hasta: </label>
                    <input type="date" id="" [(ngModel)]="formData" name="" class="form-control">
                </div>

                <div class="col-12 col-md-2 mt-2">
                    <select [(ngModel)]="formData" name="" id="" class="form-select" required>
                            <option value="value1" selected>Value 1</option>
                            <option value="value2">Value 2</option>
                            <option value="value3">Value 3</option>
                        </select>
                </div>
                <div class="col-12 col-md-1 mt-2">
                    <button class="btn btn-primary" type="button" data-bs-toggle="modal"><i
                            class="fa fa-search"></i></button>
                </div>
            </div>
            <br>
            <div class="card pt-0">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Numero</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Cliente/Proveedor</th>
                                <th scope="col">Total</th>
                                <th scope="col">Clave de acceso</th>
                                <th scope="col">Estado</th>
                                <th class="text-center"><i class="fa fa-cog"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" checked="true" id=""> 001-001
                                    </div>
                                </td>
                                <td>Factura</td>
                                <td>01/01/2022</td>
                                <td>Daniel Guaycha</td>
                                <td>20.00</td>
                                <td>01da5sd156asdasdasdasd</td>
                                <td>No autorizado</td>
                                <td class="text-center">
                                    <button class="s-btn text-black btn-sm" type="button" data-bs-toggle="modal"><i class="fa fa-envelope"></i></button>
                                    <button class="s-btn text-success btn-sm" type="button" data-bs-toggle="modal"><i class="fa fa-paper-plane"></i></button>
                                    <button class="s-btn text-danger btn-sm" type="button" data-bs-toggle="modal"><i class="fa fa-file-pdf"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="8" class="text-center text-muted">Aún no se han registrado documentos</td>
                            </tr>

                            <!-- <tr *ngIf="persons.length <= 0">
                                <td *ngIf="provider" colspan="6" class="text-center text-muted">Aun no se han registrado proveedores</td>
                                <td *ngIf="!provider" colspan="6" class="text-center text-muted">Aun no se han registrado clientes</td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 text-start mt-4">
                <button type="button" class="btn btn-primary text-white me-2" data-bs-dismiss="modal">ENVIAR Y
                    COMPROBAR</button>
                <button type="button" class="btn btn-primary text-white me-2" data-bs-dismiss="modal">COMPROBAR</button>
                <button type="button" class="btn btn-primary text-white me-2" data-bs-dismiss="modal">ENVIAR RIDE A
                    CLIENTE</button>
            </div>
        </div>
    </div>
</form>