.btn-loader {
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.s-btn {
    background: none;
    border: none;
    margin: 0 2.5px;
}

.image-upload>input {
    display: none;
}

.image-opa {
     :hover {
        opacity: 0.8;
        cursor: crosshair;
    }
}

.btn-light {
  @if($themeDark) {
    background: darken($dark, 4) !important;
    border-color: darken($dark, 4) !important;
    color: $light;
    &:hover, &:active, &:focus {
      color: darken($light, 3);
    }
  }
}
