<button class="btn btn-sm btn-primary" type="button" data-bs-toggle="modal"
        data-bs-target="#modalAddPerson"><i class="fa fa-plus"></i> Agregar</button>
<app-modal idModal="modalAddPerson">
  <div body class="row">
    <div class="col-12 col-md-6">
      <label for="ruc" class="form-label">CI/Ruc: </label>
      <input type="text" class="form-control form-control-sm" id="ruc">
    </div>
    <div class="col-6">
      <label for="doc_type" class="form-label">Tipo Doc.</label>
      <select name="doc_type" id="doc_type" class="form-select form-select-sm">
        <option value="cedula" selected>Cedula</option>
      </select>
    </div>
  </div>
</app-modal>
