@include tablet-only {
  table.tb-mobil {
    display: block;
    thead, tbody, th, td, tr {
      display: block;
    }

    &.table > :not(caption) > * > * {
      padding: .1rem .5rem;
    }

    &.table {
      tr {
        padding: 5px 0;
      }
    }

    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid $border-color;
      position: relative;
      display: flex;
      align-items: center;
      div {
        width: 70%;
      }
      div.end {
        display: flex;
        justify-content: end;
      }
      &:before {
        text-align: left;
        content: attr(data-name);
        text-transform: uppercase;
        display: inline-block;
        width: 30%;
        min-width: 30% !important;
        font-size: .9em;
        font-weight: 600;
        @if $themeDark {
          color: rgba($light, .7);
        } @else {
          color: rgba($black, .8) !important;
        }


      }
      button,a {
        margin: 0 2.5px;
      }
      &.td-radio {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        background: rgba(black, .03);
        padding: 5px 10px;
        label {
          display: flex;
          justify-content: flex-end;
          width: 100%;
        }
        &:before {
          display: none;
        }
      }
      &.td-100 {
        width: 100%;
      }
      &.no-data {
        display: flex;
        justify-content: center;
        color: #888;
        &:before {
          display: none;
        }
      }
      &.w-10, &.w-5, &.w-50 {
        width: initial !important;
      }
    }
    td.no-data {
      color: #888;
      text-align: center;
    }
  }
}
