<label class="label-title mb-0">Producto/Servicio</label>
<div class="row g-2 mt-0">
  <div class="col-6 col-md-3">
    <input type="text" class="form-control" [(ngModel)]="code" id="code"
           placeholder="Cod. Nombre. Desc." (keypress)="searchProduct($event)">
  </div>
  <div [class]="'col-6 col-md-'+(showCalc ? '3': '6')">
    <input type="text" class="form-control" placeholder="Producto/Servicio" [ngModel]="currentArt.name" readonly>
  </div>
  <div class="col-6 col-md-1">
    <div class="input-group-min readonly">
      <label class="form-label">Precio</label>
      <input type="number" class="form-control" placeholder="PVP" readonly [ngModel]="currentArt.pvp">
    </div>
  </div>
  <div class="col-6 col-md-1">
    <div class="input-group-min">
      <label class="form-label">Cantidad</label>
      <input type="number" class="form-control" placeholder="Cantidad"
             onfocus="this.select()"
             (input)="calc()"
             (change)="calc()"
             (keypress)="onEnterPress($event)"
             [(ngModel)]="calcArt.qty"
             [max]=" (currentArt.type == 'PRODUCTO' ? currentArt.stock : 999999 )"
             min="0"
             id="qty" value="1">
    </div>
  </div>
  <!--extra values-->
  <div class="col-6 col-md-1" *ngIf="showCalc">
    <!--Descuento-->
    <div class="input-group-min">
      <label class="form-label">Descuento $</label>
      <input type="number" class="form-control" placeholder="Desc $" value="0"
             (input)="calc()"
             (change)="calc()"
             (keypress)="onEnterPress($event)"
             min="0" step="any" [max]="currentArt.pvp"
             [(ngModel)]="calcArt.discount">
    </div>
  </div>
  <div class="col-6 col-md-1" *ngIf="showCalc">
    <div class="input-group-min readonly">
      <label class="form-label">Total $</label>
      <input type="number" class="form-control" placeholder="Total"
             [value]="validate.round(calcArt.total)"
             readonly>
    </div>
  </div>
  <div class="col-6 col-md-1" *ngIf="showCalc">
    <div class="input-group-min readonly">
      <label class="form-label">Total + Iva $</label>
      <input type="number" class="form-control" placeholder="Total+Iva"
             [value]="validate.round(calcArt.totalIva)"
             readonly>
    </div>
  </div>
  <div class="col-6 col-md-1 d-flex justify-content-center">
    <button type="button" class="btn btn-light text-success" (click)="emitArticle()"
            [disabled]="!(code && currentArt.id && calcArt.qty > 0)"><i class="fa fa-plus"></i></button>

    <button type="button" class="btn btn-light text-warning" (click)="initComponents()" *ngIf="code && currentArt.id"
            [disabled]="!(code && currentArt.id)"><i class="fa fa-eraser"></i></button>

    <app-dialog-search-product [search]="code" (onSelect)="onSelectProduct($event)"></app-dialog-search-product>
  </div>
</div>
