<form class="row g-2" #roleForm='ngForm' (ngSubmit)="onSubmit()" ngNativeValidate>
    <label class="label-title"><span>Roles</span></label>
    <div class="col-12 col-md-6">
        <label for="name" class="form-label">Nombre: *</label>
        <input type="text" id="name" [(ngModel)]="formData.name" name="name" class="form-control" required>

        <label for="description" class="form-label">Descripción:</label>
        <input type="text" id="description" [(ngModel)]="formData.description" name="description" class="form-control" required>

    </div>

    <div class="divider-vertical"></div>

    <div class="col-12 col-md-5 text-center" *ngIf="permissions.length <= 0">
        <H5 for="name" class="form-label">Aún no se han agregado permisos</H5>
    </div>

    <div class="col-12 col-md-4" *ngIf="permissions.length > 0">
        <label for="name" class="form-label">Permisos</label>
        <div *ngFor="let tM of tagsModules; Index as i" class="accordion" id="accordionPather">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-target]="'#collapse' + tM[1].toString()" aria-expanded="true" aria-controls="collapse">
                        Modulo {{tM[1]}}
                    </button>
                </h2>
                <div id="'collapse' + tM[1]" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionPather" *ngFor="let p of permissions">
                    <div class="accordion-body" *ngIf="p.parent == tM[0]">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="{{'permiso' + p.id}}" (change)="onCheckPermiso(p.id, $event.target.checked)">
                            <label class="form-check-label">
                                {{p.name}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-12 col-md-6 text-end mt-4">
        <button class="btn btn-outline-danger me-2" type="button" data-bs-dismiss="modal">Cancelar</button>
        <bs-button [loader]="loader" *ngIf="!edit" variant="primary"><i class="fa fa-save me-1"></i>Registrar Rol
        </bs-button>
    </div>

</form>