<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="col-12 col-md-12 card">
                    <p class="card-title">Monitor de documentos electrónicos</p>
                    <p class="card-title">Ambiente: Producción</p>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <button class="s-btn text-primary btn-sm" type="button" data-bs-toggle="modal"><i class="fa fa-sync-alt"></i></button>
                            <button class="s-btn text-danger btn-sm" type="button" data-bs-toggle="modal"><i class="fa fa-stop-circle"></i></button>
                            <button class="s-btn text-gray btn-sm" type="button" data-bs-toggle="modal"><i class="fa fa-cog"></i></button>
                            <button class="s-btn text-secondary btn-sm" type="button" data-bs-toggle="modal"><i class="fa fa-question"></i></button>
                        </div>
                        <div class="col-12 col-md-6">
                            <p class="text-center fw-bold">Última actualizacion: Hace 1 hora</p>
                        </div>
                    </div>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-8">
                                <a><i class="fa fa-shopping-cart"></i></a>
                                <p class="card-text">Facturas</p>
                            </div>
                            <div class="col-12 col-md-4">
                                <h1 class="text-end fw-bold">5</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-8">
                                <a><i class="fa fa-hand-holding-usd"></i></a>
                                <p class="card-text">Notas de debito</p>
                            </div>
                            <div class="col-12 col-md-4">
                                <h1 class="text-end fw-bold">5</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12 col-md-2">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-text text-center text-lg">5 </h3>
                        <p class="card-text text-center">Pendientes</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-text text-center text-lg">5 </h3>
                        <p class="card-text text-center">Autorizados</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-text text-center text-lg">5 </h3>
                        <p class="card-text text-center">No autorizados</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-8">
                                <a><i class="fa fa-money-bill-wave"></i></a>
                                <p class="card-text">Notas de credito</p>
                            </div>
                            <div class="col-12 col-md-4">
                                <h1 class="text-end fw-bold">5</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-8">
                                <a><i class="fa fa-file-alt"></i></a>
                                <p class="card-text">Guía de remisión</p>
                            </div>
                            <div class="col-12 col-md-4">
                                <h1 class="text-end fw-bold">5</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                25%
            </div>
        </div>

        <div class="col-12 col-md-12 mt-2">
            <div class="card">
                <textarea class="form-control" id="textarea1" rows="5"></textarea>
            </div>

        </div>
    </div>
</div>