<with-loader [loader]="configLoader">
  <ul class="nav nav-tabs">
      <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="tab" href="#iva"><i class="fa fa-cogs me-2"></i>Generales</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#factElect"><i class="fas fa-file-contract me-2"></i>Fact. Electrónica</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#sequences"><i class="fas fa-list-ol me-2"></i>Secuenciales</a>
      </li>
  </ul>
  <div class="tab-content">
      <!-- IVA -->
      <div class="tab-pane active" id="iva">
          <div class="row g-0 rounded">
              <form class="card" #formGeneralConfig (ngSubmit)="onSubmit(true)" ngNativeValidate>
                  <div class="card-body">
                      <label class="label-title d-block">Configuración General</label>
                      <div class="row">
                          <div class="col-12 col-md-6">
                              <label for="iva" class="form-label">Iva %</label>
                              <input type="number" name="iva" min="0" max="50" value="12" class="form-control" [(ngModel)]="formData.iva" required>
                          </div>
                          <div class="col-12 col-md-6">
                              <label for="decimals" class="form-label"># Decimales</label>
                              <select name="decimals" id="decimals" class="form-select" [(ngModel)]="formData.decimals" required>
                                  <option value="2">2 (0,00)</option>
                                  <option value="3">3 (0,000)</option>
                                  <option value="4">4 (0,0000)</option>
                              </select>
                          </div>
                      </div>
                  </div>
                  <div class="card-footer text-end">
                      <bs-button [loader]="loader" type="submit"><i class="fa fa-save"> </i> Guardar Config.</bs-button>
                  </div>
              </form>
          </div>
      </div>

      <!-- Firma electronica -->
      <div class="tab-pane" id="factElect">
        <app-frm-cfdi></app-frm-cfdi>
      </div>

      <!-- Secuencias -->
      <div class="tab-pane" id="sequences">
        <app-frm-seq></app-frm-seq>
      </div>
  </div>
</with-loader>
