<aside class="dark">
  <div class="aside-head">
    <a href="/" class="logo">
      <img src="assets/img/logo.svg" alt="Logo">
    </a>
  </div>
  <div class="aside-body">
    <ul class="aside-menu first">
      <li class="item-menu">
        <a [routerLink]="'/doc/buys'" title="Compras" data-name="Compras" data-bs-toggle="tooltip" data-bs-placement="right">
          <i class="bi bi-bag-plus"></i>
        </a>
      </li>
      <li class="item-menu">
        <a routerLink="/doc/invoice" title="Ventas" data-name="Ventas" data-bs-toggle="tooltip" data-bs-placement="right">
          <i class="bi bi-cart2"></i>
        </a>
      </li>
      <li class="divider"></li>
      <li class="item-menu xs-hide">
        <a routerLink="/inventory/articles" title="Productos" data-name="Productos" class="green" data-bs-toggle="tooltip" data-bs-placement="right">
          <i class="bi bi-archive"></i>
        </a>
      </li>
      <li class="item-menu sm-hide">
        <a routerLink="/persons" title="Clientes" data-name="Clientes" data-bs-toggle="tooltip" data-bs-placement="right">
          <i class="bi bi-people"></i>
        </a>
      </li>
      <li class="item-menu sm-hide">
        <a routerLink="/persons/providers" title="Proveedores" data-name="Proveedores" data-bs-toggle="tooltip" data-bs-placement="right">
          <i class="bi bi-person-badge"></i>
        </a>
      </li>
      <li class="divider"></li>
      <li class="item-menu aside-sub-item">
        <button title="Documentos Electónicos" class="sub-item-btn" data-name="Doc. Elect"
                data-bs-toggle="tooltip" data-bs-placement="right">
          <i class="bi bi-file-earmark-lock"></i></button>
        <ul class="sub-item grid">
          <li><a routerLink="/doc/cfdi" [queryParams]="{doc: 1}"><i class="bi bi-receipt"></i><span>Facturas</span></a></li>
          <li><a [routerLink]="'/building'" [queryParams]="{'module': 'G. Remision'}"><i class="bi bi-receipt"></i><span>Guias de Remision</span></a></li>
          <li><a [routerLink]="'/doc/note-credit'"><i class="bi bi-receipt"></i><span>Notas de Crédito</span></a></li>
          <li><a [routerLink]="'/building'" [queryParams]="{'module': 'N. Credito'}"><i class="bi bi-receipt"></i><span>Notas de Debito</span></a></li>
        </ul>
      </li>
      <li class="divider"></li>
      <li class="item-menu sm-hide">
        <a routerLink="/medical/optometry" title="Optometría" data-name="Optometría" data-bs-toggle="tooltip" data-bs-placement="right">
          <i class="bi bi-eye"></i>
        </a>
      </li>

    </ul>
    <ul class="aside-menu second">
      <li class="item-menu">
        <a [routerLink]="'/enterprise/notifies'" title="Notificaciones" data-name="Alertas" data-bs-toggle="tooltip" data-bs-placement="right">
          <i class="bi bi-bell"></i>
        </a>
      </li>
      <li class="item-menu xs-hide">
        <a routerLink="/enterprise/config" title="Config" data-name="Config" data-bs-toggle="tooltip" data-bs-placement="right">
          <i class="bi bi-gear"></i>
        </a>
      </li>

    </ul>
  </div>
</aside>
