<div class="divElement">
    <div class="login">
        <div class="card">
            <div class="card-body login-title">
                <img [src]="startImageUrl" height="90px" class="mb-2" alt="">
                <b>Iniciar sesión</b>
            </div>
            <div class="card-body">
                <form #loginForm='ngForm' (ngSubmit)="login(loginForm)" class="card-body row g-3" ngNativeValidate>
                    <div class="col-md-12 form-icon">
                        <i class="fa fa-user"></i>
                        <input type="text" [(ngModel)]="user" name="username" class="form-control" placeholder="Correo/Usuario" required>
                    </div>

                    <div class="col-md-12 form-icon">
                        <i class="fa fa-lock"></i>
                        <input type="password" [(ngModel)]="password" name="password" class="form-control" placeholder="*********" required>
                    </div>

                    <alert></alert>
                    <div class="col-md-12 text-center">
                        <bs-button [loader]="loader" width="100" class="btn-loader w-100">Iniciar</bs-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
