<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#iva">IVA</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#factElect">Fact. Electrónica</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="iva">
        <div class="row g-0 rounded">
            <app-general-config></app-general-config>
        </div>
    </div>
    <div class="tab-pane" id="factElect">
        <div class="row g-0 rounded">
            <app-general-elect-sign></app-general-elect-sign>
        </div>
    </div>
</div>