<form method="post" class="row g-2" (ngSubmit)="onSubmit()">
    <label class="label-title"><span>Datos del producto</span></label>
    <div class="col-12 col-md-6">
        <label for="product_cod" class="form-label">Código / Código Barra: *</label>
        <input type="text" [(ngModel)]="formData.code" name="product_cod" class="form-control" id="product_cod" value="formData.code" required>
    </div>
    <div class="col-12 col-md-6">
        <label for="category_id" class="form-label">Categoría: *</label>
        <div class="input-group">
            <div class="col-12 col-md-2">
                <input type="text" id="category_id" [(ngModel)]="formData.category_id ? formData.category_id : category.id"
                       (keypress)="onSearchCategory($event)" name="category_id" class="form-control">
            </div>
            <input type="text" id="category" [(ngModel)]="formData.category? formData.category : category.name"
                   name="category" class="form-control" readonly>
            <app-add-category (create)="onSelectCategory($event)"></app-add-category>
            <app-dialog-search-category (select)="onSelectCategory($event)"></app-dialog-search-category>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <label for="product_name" class="form-label">Nombre: *</label>
        <input type="text" id="product_name" [(ngModel)]="formData.name" name="product_name" class="form-control" required>
    </div>
    <div class="col-12 col-md-6">
        <label for="product_description" class="form-label">Descripción:</label>
        <input type="text" id="product_description" [(ngModel)]="formData.description" name="product_description" class="form-control">
    </div>
    <div class="col-12 col-md-6">
        <label for="product__class" class="form-label">Clase: *</label>
        <select [(ngModel)]="formData.type" name="product__class" id="product__class" class="form-select" required>
        <option value="PRODUCTO" selected>Producto</option>
    <option value="SERVICIO">Servicio</option>
    <option value="OTRO" >Otro</option>
  </select>
    </div>
    <div class="col-12 col-md-6">
        <label for="product__iva" class="form-label">IVA: *</label>
        <select [(ngModel)]="ivaSelect" name="product__iva" id="product__iva" class="form-select">
          <option *ngFor="let i of ivaList"  [value]="i" selected>{{ i }}%</option>
        </select>
    </div>

    <label class="label-title"><span>Precios</span></label>
    <div class="col-12">
        <div class="row g-2">
          <partial-frm-prices (onChange)="onChangePrices($event)"
                              [edit]="edit"
                              [price]="formData.price_purchase"
                              [pvp1]="formData.pvp"
                              [hasIva]="ivaSelect > 0"></partial-frm-prices>
        </div>
    </div>

    <div class="col-12 text-end mt-4">
        <button type="button" class="btn btn-outline-danger me-2" data-bs-dismiss="modal">Cancelar</button>
        <bs-button [loader]="loader" *ngIf="!edit" type="submit" variant="primary"><i class="fa fa-save me-1"></i>Registrar Producto</bs-button>
        <bs-button [loader]="loader" *ngIf="edit" type="submit" variant="success"><i class="fa fa-save me-1"></i>Actualizar Producto</bs-button>
    </div>
</form>
