<label class="label-title mb-0">Producto</label>
<div class="row g-2 mt-0">
  <div class="col-6 col-md-3">
    <input type="text" class="form-control" [(ngModel)]="code"
           placeholder="Cod. Nombre. Desc." (keypress)="searchProduct($event)">
  </div>
  <div class="col-6 col-md-4">
    <input type="text" class="form-control" placeholder="Producto" [ngModel]="selectProduct.name" readonly>
  </div>
  <div class="col-6 col-md-1">
    <input type="number" class="form-control" placeholder="PVP" readonly [ngModel]="selectProduct.pvp">
  </div>
  <div class="col-6 col-md-1">
    <input type="number" class="form-control" placeholder="Cantidad"
           onfocus="this.select()"
           (change)="calc()"
           [(ngModel)]="selectProductCalc.qty"
           id="qty" value="1">
  </div>
  <div class="col-6 col-md-1">
    <input type="number" class="form-control" placeholder="Desc %" value="0"
           [(ngModel)]="selectProductCalc.discount">
  </div>
  <div class="col-6 col-md-1">
    <input type="number" class="form-control" placeholder="Total"
           [(ngModel)]="selectProductCalc.total"
           readonly>
  </div>
  <div class="col-6 col-md-1">
    <input type="number" class="form-control" placeholder="Total+Iva"
           [ngModel]="selectProductCalc.totalIva"
           readonly>
  </div>
</div>
